<!Doctype html>
<html>
    <%- include('./elements/head.ejs'); -%>
    <body>
        <p># Room token: <%= room_token %></p>
        <p># Room name: <%= room_name %></p>
        <div class="frame">
            
        </div>
        <div class="msgr">
            <input type="text" placeholder="message">
            <button>send message</button>
        </div>


        <!--
                WHAT&IS
        -->

        <%- include("./elements/include.ejs"); -%>

    </body>
</html>