<!Doctype html>
<html>
    <%- include('./elements/head.ejs'); -%>
    <body>
        <div class="frame">
            
        </div>
        <form method="POST">
            <input type="text" placeholder="message">
            <button>send message</button>
        </form>


        <!--
                WHAT&IS
        -->

        <%- include("./elements/include.ejs"); -%>

    </body>
</html>