<!Doctype html>
<html>
    <%- include('./elements/head.ejs'); -%>
    <body>
        

        <h2># Create a new Room</h2>
        <form action="POST">
            <input type="text" placeholder="Room name">
            <br>
            <label for="isPrivate">
                <input type="checkbox" id="isPrivate"> is private
            </label>
            <br>
            <input type="text" placeholder="Password">
            <br>
            <button>Create room!</button>
        </form>

        <h2># Room list</h2>
        <p>Login as: <%= nickname %></p>

        <div class="frame">

        </div>

        <!--
                WHAT&IS
        -->

        <%- include("./elements/include.ejs"); -%>

    </body>
</html>