$color-success: #000000;
$color-await: #000000;
$color-error: #000000;
$color-load: #000000;

* {
    padding: 0;
    margin: 0;
    outline: none;
}

html {height: 100%; width: 100%;}

body 
{
    height: 100%; 
    width: 100%;
    background-color: whitesmoke;
}

.status 
{
    width: 100%;
    height: 45px;
    border-top: 1px solid #000;

    &.load 
    {}

    &.error
    {}

    &.success 
    {}

    &.await 
    {}

}