<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Anonimo Client v1.0</title>
</head>
<body>
    <main>
        <header class="header">
            <div class="container">
                <div class="header-inner">
                    <h1>Anonimo client</h1>
                    <a href="#settings">Settings</a>
                    <a href="#lang=en">Lang</a>
                    <a href="#lang=en">About</a>
                    <a href="#lang=en">Donate</a>
                </div>
            </div>
        </header>
        <div class="center-absolute">
            <form method="POST" class="form" id="form-login">
                <p>Your Nickname:</p>
                <input class="element" id="input-nickname" type="text" placeholder="All text or symbol">
                <br>
                <button class="element" id="button-auth-template">Login template!</button>
            </form>
        </div>
        <div id="dynamic-status" class="status" v-bind:class="{ success: isSuccess, error: isError, load: isLoad, await: isAwait }">
            <div class="conatiner">
                <span>{{ title }}</span>
                <i class="fas fa-times"></i>
            </div>
        </div>
    </main>
</body>
    <script src="./include/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/socket.io-client@4.0.0/dist/socket.io.min.js" type="text/javascript"></script>
    <script src="./js/script.dev.js" type="text/javascript"></script>
    <link rel="stylesheet" href="./include/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./css/main.css">
</html>